@font-face {
    font-family: irsans;
    src: url("../fonts/irsans-1.ttf");
}
@font-face {
    font-family: irsansbold;
    src: url(../fonts/IRAN-Sans-Bold.ttf);
}
.font-iran{
    font-family: irsans;
}
h2{
    font-family: irsansbold;
}
.star{
    color: red;
}