<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns:th="https://thyemleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/bootstrap-5.0.2-dist/css/bootstrap.rtl.css}">
    <link rel="stylesheet" th:href="@{/assets/css/guide.css}">
    <title>راهنمای پذیرش</title>

</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img th:src="@{/assets/images/medical-logo.jpg}" height="50" width="50">
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">خانه</a></li>
                <li><a href="/reserve" class="nav-link px-2 link-dark">پذیرش</a></li>
                <li><a href="/guide" class="nav-link px-2 link-dark">راهنمای‌پذیرش</a></li>
                <li><a href="/privacy" class="nav-link px-2 link-dark">حریم شخصی</a></li>
                <li><a href="/about" class="nav-link px-2 link-dark">درباره‌ما</a></li>
                <li><a href="/contact" class="nav-link px-2 link-dark">ارتباط‌با‌ما</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2" onclick="window.location.href='/login'">ورود</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='/register'">ثبت نام</button>
            </div>
        </header>
    </div>

</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container" style="padding-top: 60px">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img th:src="@{/assets/images/slide-1.avif}" height="100%" width="100%">

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>دسترسی به متخصصان در هر زمان</h1>
                            <p>در هر زمان با وارد شدن به سایت می توانید وقت ویزیت خود با پزشکتان را آنلاین رزرو کنید.و سوالات خود را در قالب پرسش و پاسخ از دکتر خود داشته باشید.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">اطلاعات بیشتر</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img th:src="@{/assets/images/pic-2.jpeg}" height="500" width="500">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>کاهش هزینه</h1>
                            <p>با توجه به موارد ترافیکی و همچنین دوری از هر گونه اضافه کاری شما می توانید درخواست خود را به صورت آنلاین ثبت نمایید و از امکانات سایت برحوردار شوید</p>
                            <p><a class="btn btn-lg btn-primary" href="#">اطلاعات بیشتر</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>درخواست داروخانه</h1>
                            <p>بعد از ویزیت متخصص نسخه شما به صورت آنلاین برای داروخانه ارسال می شود و شما بدون معطلی می توانید دارو های خود را تحویل بگیرید و از خدمات مشاوره رایگان دکتر داروساز بهره مند شوید.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">اطلاعات بیشتر</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">قبلی</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">بعدی</span>
            </button>
        </div>


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing font-iran">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <img th:src="@{/assets/images/face-1.jpg}" class="bd-placeholder-img rounded-circle" height="140" width="140" >
                    <h2 class="fw-normal">راهنمای ثبت نام</h2>
                    <p>شما با استفاده از منوی ثبت نام می توانید مراحل ثبت نام را به راحتی انجام دهید.تنها اطلاعاتی که از شما خواسته می شود نام کاربری  به صورت ایمیل و یک کلمه عبور حداقل 8 حرفی می باشد</p>
                    <p><a class="btn btn-secondary" href="#">بیشتر بدانید</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img th:src="@{/assets/images/face-2.jpeg}" class="bd-placeholder-img rounded-circle" height="140" width="140">
                    <h2 class="fw-normal">دریافت ویزیت</h2>
                    <p>برای دریافت ویزیت و انتخاب دکتر از گزینه منوی پذیرش را انتخاب نموده و سپس از دسته بندی های مربوطه نام دکتر خود را انتخاب کنید.</p>
                    <p><a class="btn btn-secondary" href="#">بیشتر بدانید</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img th:src="@{/assets/images/face-3.jpeg}" class="bd-placeholder-img rounded-circle" height="140" width="140">
                    <h2 class="fw-normal">دسترسی به سوابق</h2>
                    <p>با ورود با نام کاربری خود می توانید از سوابق پزشکی خود اطلاع یافته و در صورت نیاز آن را برای دکتر خود ارسال نماپید تا در جریان درمان شما قرار بگیرد.
                    همچنین این اطلاعات به صورت محرمانه نزد شما و پزشک معالج شما قرار خواهد گرفت.</p>
                    <p><a class="btn btn-secondary" href="#">بیشتر بدانید</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1"> همه گیری بیماری کرونا <span class="text-muted">پیشگیری  </span></h2>
                    <p class="lead">شستشوی مداوم دستها به مدت 30 ثانیه بهترین راه پیشگیری می باشد.
                    زدن ماسک مخصوصا در مناطق سرپوشیده را نباید فراموشی کنیم.و باید بدانیم بهترین راه مبارزه با بیماری همه گیر کرونا پیشگیری می باشد.</p>
                </div>
                <div class="col-md-5">
                    <img th:src="@{/assets/images/pic-2.jpeg}" height="500" width="500">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">مصرف خودسرانه دارو <span class="text-muted"> راهکارها </span></h2>
                    <p class="lead">هیچگاه نباید دارو به صورت خودسرانه مصرف شود و باید همیشه زیر نظر دکتر متخصص باشد.در سیستم رزرو آنلاین 247365سلامتی شما مهمترین اولویت کاری ما می باشد.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img th:src="@{/assets/images/pic-1.jpg}" height="500" width="500">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">تازه های پزشکی <span class="text-muted"> فن آوری های نوین </span></h2>
                    <p class="lead">مجله پذیرش آنلاین 247365 جدیدترین مطالب حوزه پزشکی را برای شما به ارمغان می آورد.با ما به بروزترین اخبار دسترسی خواهید داشت.</p>
                </div>
                <div class="col-md-5">
                    <img th:src="@{/assets/images/pic-3.webp}" height="500" width="500">
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->


        <!-- FOOTER -->
        <footer class="container">
            <p class="float-end"><a href="#">Back to top</a></p>
            <p><span class="text-muted">طراحی شده توسط رضوان ملکی-دانشگاه آزاد اسلامی واحد شهر قدس</span></p>
        </footer>
    </div>
</main>

</body>
</html>