<!DOCTYPE html>
<html lang="fa" class="h-100" dir="rtl" xmlns:th="https://www.thyemleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/bootstrap-5.0.2-dist/css/bootstrap.rtl.css}">
    <title>صقحه نخست</title>

</head>
<br>
<br>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <div class="container">
        <header class="fixed-top d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" style="margin-right: 50px">
                <img th:src="@{/assets/images/medical-logo.jpg}" alt="image" height="50" width="50">
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">خانه</a></li>
                <li><a href="/reserve" class="nav-link px-2 link-dark">پذیرش</a></li>
                <li><a href="/guide" class="nav-link px-2 link-dark">راهنمای‌پذیرش</a></li>
                <li><a href="/privacy" class="nav-link px-2 link-dark">حریم شخصی</a></li>
                <li><a href="/about" class="nav-link px-2 link-dark">درباره‌ما</a></li>
                <li><a href="/contact" class="nav-link px-2 link-dark">ارتباط‌با‌ما</a></li>
            </ul>

            <div class="col-md-3 text-start">
                <button type="button" class="btn btn-outline-primary me-2" onclick="window.location.href='login'">ورود</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='register'">ثبت نام</button>
            </div>
        </header>
    </div>

</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container" style="padding-top: 60px">
        <img class="d-block mx-auto mb-4" src="../static/assets/images/medical-logo.jpg" alt="" width="72" height="57">
        <h1 class="mt-5">Sticky footer with fixed navbar</h1>
        <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code class="small">padding-top: 60px;</code> on the <code class="small">main &gt; .container</code>.</p>
        <p>Back to <a href="/docs/5.2/examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">طراحی شده توسط رضوان ملکی-دانشگاه آزاد اسلامی واحد شهر قدس</span>
    </div>
</footer>

</body>
</html>